<!-- your html code here -->
<!-- <p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p> -->
<div class="card mb-3" style="width: 1395px; height: 226px;  display: flex; justify-content: space-between;">
  <div class="row g-0">
    <div class="col-md-4" style="float: right;">
      <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/3C99/production/_101131551_tecleando.jpg"  style=" margin:0%; width: 286px; height: 228px; float: right;
      padding: 0%;
      display: flex;
      justify-content: center;
      clip-path: circle(35% at center);

      
      "class="rounded-circle">
    </div>
    <div class="col-md-8 pr-5">
      <div class="card-body" >
        <h5 class="card-title">The Second headig <span class="text-muted">Is Pretty Cool Too.</span>
            
        </h5>
        <p class="card-text"  style="margin-right: 0%;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        
      </div>
    </div>
  </div>
</div>