<!-- your html code here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img src="/workspace/exercise-collaborative-html-website/website1/assets/img/bg.jpg" class="d-block w-100" alt="City"
                class="img-responsive" style="width: 100%">
            <!-- <div class="carousel-caption sticky-xl-top" style="color: black;">
                <h1 class="bg-light">One Page Wonder</h1>
                <h3 class="bg-light">Will Knock Your Socks Off</h3>
            </div> -->
            <div class="carousel-caption d-none d-md-block" style="color: black;">
                <h1 class="bg-light">One Page Wonder</h1>
                <h3 class="bg-light">Will Knock Your Socks Off</h3>
            </div>
        </div>
    </div>
</div>